/* styles of pdf */

.pdfdiv {
    display: inline-block;
    text-align: right;   
}

.pdfdivlefttot {
  
    width:400px;
    float:left;
}

.pdfdivtot {
    width:250px; 
    float:left;
}

.pdfdivfield {
  
    width: 100px;
}

.pdftable {
    width: 100%;
    font-family: serif; 
}

.pdftd {
    width: 45%; 
    border: 0.1mm solid #888888; 
}

.pdftd2{
    width: auto;
}

.pdftd3{
    width: auto;
    text-align: center;
}

body {font-family: sans-serif;
	font-size: 15pt;
}

p {	margin: 0pt; }
table.items {
    border: 0.1mm solid #000000;
    
    width: 100%;
    font-size: xx-large;
    border-collapse: collapse;
   
}

td { vertical-align: top; }

.items td {
	border-left: 0.1mm solid #000000;
    border-right: 0.1mm solid #000000;    
}

table thead td { background-color: #EEEEEE;
	text-align: center;
	border: 0.1mm solid #000000;
	font-variant: normal;
}
.items td.blanktotal {
	background-color: #EEEEEE;
	border: 0.1mm solid #000000;
	background-color: #FFFFFF;
	border: 0mm none #000000;
	border-top: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
.items td.totals {
	text-align: right;
	border: 0.1mm solid #000000;
}
.items td.cost {
	text-align: "." center;
}

.wide{

    width: 250px;
}

